<div class="container">
  <app-employees></app-employees>
</div>

<!-- <h1>Angular</h1>


<app-posts></app-posts>


<signup-form></signup-form>


<contact-form></contact-form>

<hr>
<app-zippy></app-zippy>
<hr>

<like [tweet]="tweet" (change)="onChangeLike()" ></like>
<br/>
<bootstrap-panel>
  <div class="heading">Headinggg</div>
  <div class="body">
    <h2>title</h2>
    <p>this is para</p>
  </div>
</bootstrap-panel>

<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>

<courses></courses>

<input class="form-control" type="text" [appInputFormat] ="'lower'"> -->


